<h2><%= t('import_bookmarks') %></h2>
<%= simple_form_for(@file) do |f| %>
  <%= f.input :file, as: :file, label: t('file') %>
	
  <div class="actions">
    <%= f.submit t('import'), class: 'btn btn-success' %>
  </div>
<% end %>