<h2><%= t('editing_post') %></h2>

<%= render 'form' %>

<div class="btn-group">
	<%= link_to glyph("chevron-left"), posts_path, title: t('back'), class: "btn btn-primary" %>
	<%= link_to glyph('eye-open'), @post, title: t('show'), class: "btn btn-info" %>
</div>
