/**
 *= require jquery.ui.autocomplete
 */

@import "jquery.tagit.css.less";
@import "bootstrap_and_overrides.css.less";

.brand img {
	display: inline-block;
	margin-right: 5px;
}

ul.tagit {
	margin: 0;
}

.hint {
	font-style: italic;
	margin-left: 180px;
}

td.tags a {
	margin-bottom: 4px;
}

.list-group dd {
	margin-bottom: 10px;
}

#post_description {
	height: 100px;
	width: 400px;
}

.alert .alert-link {
	color: white;
	font-weight: bold;
}

.new_button_list {
	margin-bottom: 20px;
}

#post_url, #post_title {
  width: 400px;
}
